*{
  margin: 0px;
  padding: 0px;
}




#links {
  margin-bottom: 0px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 center > a {
  text-decoration: none;
  color: goldenrod;
  font-size: large;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}




  body {
    background-color: blue;
    
  }

  nav > h1 {
   font-size: xx-large;
   color: white;
   margin: auto;
  
  }
  
 .paragraph{
  color: white;
 }
    

  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 70px;
  }
 
  nav > img {
    margin-left: 50px;
  }
  
  .links  a{
    
    text-decoration: none;
    color: white;
  }

 

  .links a:hover{
    color: black;
  }
 
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  
  
  
  .links > p {
    font-weight: bold;
  }
  
  .dropdown-button:hover{
    color: beige;
  }

  .dropdown-button {
    background-color: black;
    color: goldenrod;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
  }

 center > a:hover{
  background-color: chocolate;
  color: white;
 }
  
  video {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  
  .video-container {
    position: relative;
  }
  
  .video-container > h1 {
    font-size: 60px;
    position: absolute;
    color: rgb(161, 47, 47);
    bottom: 50px;
    left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .dropdown {
    position: relative;
  }
  
   /* .dropdown-content {
    position: absolute;
    display: none;
    width: 150px;
    color: #ff2b85;
    z-index: 1;
    background-color: white;
  } */
   
  /* .dropdown-content > a {
    text-decoration: none;
    color: #ff2b85;
    display: block;
    border-bottom: 1px solid black;
    padding: 10px;
  }  */
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .website-body {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .about-us {
    width: 60%;
    margin-top: 80px;
  }
  
  .about-us > h1 {
    font-size: 35px;
  }

  
  
  .next-generation-container {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  
  footer {
    background: black;
    color: goldenrod;
    padding: 50px;
    margin-top: 100px;
    width: 100%;
    
  }
  
  .footer-inner-container {
    display: flex;
    justify-content: space-between;
    font-style: italic;
  }
  
  footer > img {
    margin-left: 140px !important;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  
  .follow-us {
    width: 30%;
  }
  
  .follow-icon-container {
    display: flex;
    gap: 40px;
  
  }

  

  .pic:hover {
     
      filter: blur(5px);
      background-color: #515252;
  }

  .icons:hover{
    rotate: 30deg;
    zoom: 7px;
    filter: blur(none);
    transform: scale(1.2);
  }